In [1]:
import numpy as np

# Python listesinden bir NumPy dizisi oluÅŸturma
dizi1D = np.array([1, 2, 3, 4, 5])

print(f"1-Boyutlu Dizi:\n{dizi1D}")
print(f"Dizinin Tipi: {type(dizi1D)}")
print(f"Dizinin Boyutu (Shape): {dizi1D.shape}") # (5,) -> 5 elemanlÄ±

1-Boyutlu Dizi:
[1 2 3 4 5]
Dizinin Tipi: <class 'numpy.ndarray'>
Dizinin Boyutu (Shape): (5,)

In [2]:
# Ä°Ã§ iÃ§e listelerden 2-boyutlu dizi (matris) oluÅŸturma
dizi2D = np.array([[1, 2, 3],
                   [4, 5, 6]])

print(f"\n2-Boyutlu Dizi (Matris):\n{dizi2D}")
print(f"Matrisin Boyutu (Shape): {dizi2D.shape}") # (2, 3) -> 2 satÄ±r, 3 sÃ¼tun

2-Boyutlu Dizi (Matris):
[[1 2 3]
 [4 5 6]]
Matrisin Boyutu (Shape): (2, 3)

In [3]:
a = np.array([10, 20, 30, 40])
b = np.array([1, 2, 3, 4])

# Element-wise (eleman bazlÄ±) toplama
toplam = a + b
print(f"Toplama (a + b): {toplam}") # SonuÃ§: [11 22 33 44]

# Element-wise Ã§arpma
carpim = a * b
print(f"Ã‡arpma (a * b): {carpim}") # SonuÃ§: [ 10  40  90 160]

# Skaler (tekil sayÄ±) ile iÅŸlem (Broadcasting)
skaler_carpim = a * 5
print(f"Skaler Ã‡arpma (a * 5): {skaler_carpim}") # SonuÃ§: [ 50 100 150 200]

# KoÅŸul iÅŸlemleri
print(f"a > 25 mi?: {a > 25}") # SonuÃ§: [False False  True  True]

Toplama (a + b): [11 22 33 44]
Ã‡arpma (a * b): [ 10  40  90 160]
Skaler Ã‡arpma (a * 5): [ 50 100 150 200]
a > 25 mi?: [False False  True  True]

In [4]:
arr = np.array([0, 10, 20, 30, 40, 50, 60])

# 1. index'teki eleman
print(f"1. index: {arr[1]}") # SonuÃ§: 10

# 2. index'ten 5. index'e kadar (5 dahil deÄŸil)
print(f"2:5 arasÄ±: {arr[2:5]}") # SonuÃ§: [20 30 40]

# 2D dizide (matris) index
matris = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# 1. satÄ±r, 2. sÃ¼tundaki eleman (satÄ±r 0'dan baÅŸlar)
print(f"\nMatris [1, 2]: {matris[1, 2]}") # SonuÃ§: 6

1. index: 10
2:5 arasÄ±: [20 30 40]

Matris [1, 2]: 6

##Index Ä°ÅŸlemleri (Indexing Operations)
Diziler iÃ§indeki belirli verilere eriÅŸmek veya onlarÄ± deÄŸiÅŸtirmek iÃ§in kullanÄ±lÄ±r.

In [5]:
arr = np.array([0, 10, 20, 30, 40, 50, 60])

# 1. index'teki eleman
print(f"1. index: {arr[1]}") # SonuÃ§: 10

# 2. index'ten 5. index'e kadar (5 dahil deÄŸil)
print(f"2:5 arasÄ±: {arr[2:5]}") # SonuÃ§: [20 30 40]

# 2D dizide (matris) index
matris = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# 1. satÄ±r, 2. sÃ¼tundaki eleman (satÄ±r 0'dan baÅŸlar)
print(f"\nMatris [1, 2]: {matris[1, 2]}") # SonuÃ§: 6

1. index: 10
2:5 arasÄ±: [20 30 40]

Matris [1, 2]: 6

## Pandas Series

In [6]:
import pandas as pd 
grades = { "ali":30 ,"james":40 , "john": 23}
pd.Series(my_series)

ali      30
james    40
john     23
dtype: int64

In [11]:
names =["papi" , "frank", "garcia"]
numbers = [12,31,90]
pd.Series(data=names,index= numbers)

12      papi
31     frank
90    garcia
dtype: object

In [14]:
contest_result = pd.Series(data =[12,20,30] , index= ["james","lars","adam"])
contest_result

james    12
lars     20
adam     30
dtype: int64

In [15]:
contest_result2 = pd.Series(data =[10,20,15] , index= ["james","lars","adam"])
contest_result2

james    10
lars     20
adam     15
dtype: int64

In [16]:
contest_result/contest_result2

james    1.2
lars     1.0
adam     2.0
dtype: float64

In [17]:
contest_result + contest_result2

james    22
lars     40
adam     45
dtype: int64

In [19]:

my_series = pd.Series(data =[12,20,30] , index= ["james","lars","adam"])
my_series2 = pd.Series(data =[12,20,30] , index= ["gassdas","lars","adam"])
my_series + my_series2

adam       60.0
gassdas     NaN
james       NaN
lars       40.0
dtype: float64

## dataframe

In [21]:
import numpy as np

In [36]:
import numpy as np
import pandas as pd

# 1. Veriyi OluÅŸturma (NumPy)
# 1 ile 100 arasÄ±nda (100 dahil deÄŸil) 4x3'lÃ¼k bir matris oluÅŸtur
data = np.random.randint(1, 100, size=(4, 3))

print("--- 1. NumPy Dizisi (Veri) ---")
print(data)
print("\n")

# 2. DataFrame'i OluÅŸturma (Pandas)
# Bu NumPy matrisini doÄŸrudan DataFrame'e veriyoruz
df = pd.DataFrame(data)

print("--- 2. Pandas DataFrame (4x3) ---")
print(df)

--- 1. NumPy Dizisi (Veri) ---
[[22 98 46]
 [ 7 30 37]
 [40  3  3]
 [66 51 26]]


--- 2. Pandas DataFrame (4x3) ---
    0   1   2
0  22  98  46
1   7  30  37
2  40   3   3
3  66  51  26

In [27]:
dataFrame = pd.DataFrame(data)
dataFrame

          0         1         2
0  0.430384  0.559130  0.619226
1  0.151231  0.091928  0.601613
2  0.387075  0.648439  0.135234
3  0.683847  0.935857  0.296099

In [37]:
type(dataFrame[0]) ## yani her column bir series

pandas.core.series.Series

In [41]:
import numpy as np
import pandas as pd

# 1. 4x3'lÃ¼k veriyi oluÅŸturalÄ±m ('data' deÄŸiÅŸkeni)
data = np.random.randint(1, 24, size=(4, 3)) # Saatlere uygun olsun diye 1-24 arasÄ±

# 2. SatÄ±r (index) ve SÃ¼tun (columns) etiketlerini tanÄ±mlayalÄ±m
rows = ["A", "B", "C", "D"]
colum = ["WORKHOUR", "SLEEPHOUR", "RESTTIME"] # (RESTTÄ°ME -> RESTTIME olarak dÃ¼zelttim)

# 3. DataFrame'i oluÅŸturalÄ±m
#
#   HATALARINIZ ÅžUNLARDI:
#   1. 'dataFrame' deÄŸil, 'pd.DataFrame' olmalÄ± (D ve F bÃ¼yÃ¼k).
#   2. 'index=columns' yazmÄ±ÅŸtÄ±nÄ±z, 'index=rows' olmalÄ±.
#
df = pd.DataFrame(data, index=rows, columns=colum)

print(df)

   WORKHOUR  SLEEPHOUR  RESTTIME
A        12         19         9
B        12          7         5
C         8         18        18
D        15         18        17

In [44]:
df[["SLEEPHOUR","WORKHOUR"]]

   SLEEPHOUR  WORKHOUR
A         19        12
B          7        12
C         18         8
D         18        15

In [45]:
import pandas as pd
import numpy as np

# Veriyi biz tanÄ±mlayalÄ±m (4 satÄ±r, 3 sÃ¼tun)
data = [[8, 6, 10],   # KiÅŸi A
        [10, 8, 6],   # KiÅŸi B
        [5, 9, 10],   # KiÅŸi C
        [12, 7, 5]]   # KiÅŸi D

# Etiketlerimiz
rows = ["A", "B", "C", "D"]
colum = ["WORKHOUR", "SLEEPHOUR", "RESTTIME"]

# DataFrame'i oluÅŸturalÄ±m
df = pd.DataFrame(data, index=rows, columns=colum)

print("--- ManipÃ¼lasyon iÃ§in Temel DataFrame ---")
print(df)
print("\n" + "-"*40 + "\n")

--- ManipÃ¼lasyon iÃ§in Temel DataFrame ---
   WORKHOUR  SLEEPHOUR  RESTTIME
A         8          6        10
B        10          8         6
C         5          9        10
D        12          7         5

----------------------------------------

## 1. Veri SeÃ§me (SÃ¼tun ve SatÄ±r SeÃ§imi)

In [46]:
# Sadece 'WORKHOUR' sÃ¼tununu seÃ§mek (SonuÃ§ bir Series'dir)
print("--- Sadece WORKHOUR SÃ¼tunu ---")
print(df['WORKHOUR'])
print("\n")

# Birden fazla sÃ¼tun seÃ§mek (SonuÃ§ bir DataFrame'dir)
print("--- WORKHOUR ve RESTTIME SÃ¼tunlarÄ± ---")
print(df[['WORKHOUR', 'RESTTIME']])
print("\n")

# .loc ile satÄ±r seÃ§mek (135. konudaki index mantÄ±ÄŸÄ±)
print("--- Sadece 'B' KiÅŸisinin Bilgileri ---")
print(df.loc['B'])

--- Sadece WORKHOUR SÃ¼tunu ---
A     8
B    10
C     5
D    12
Name: WORKHOUR, dtype: int64


--- WORKHOUR ve RESTTIME SÃ¼tunlarÄ± ---
   WORKHOUR  RESTTIME
A         8        10
B        10         6
C         5        10
D        12         5


--- Sadece 'B' KiÅŸisinin Bilgileri ---
WORKHOUR     10
SLEEPHOUR     8
RESTTIME      6
Name: B, dtype: int64

## 2. Filtreleme (KoÅŸullu SeÃ§im) ðŸŽ¯

In [47]:
# Ã‡alÄ±ÅŸma saati (WORKHOUR) 8'den fazla olanlar
print("--- Ã‡alÄ±ÅŸma Saati > 8 Olanlar ---")
print(df[df['WORKHOUR'] > 8])
# Ã‡Ä±ktÄ±:
#    WORKHOUR  SLEEPHOUR  RESTTIME
# B        10          8         6
# D        12          7         5
print("\n")

# Uyku saati (SLEEPHOUR) 7'den az olanlar
print("--- Uyku Saati < 7 Olanlar ---")
print(df[df['SLEEPHOUR'] < 7])
# Ã‡Ä±ktÄ±:
#    WORKHOUR  SLEEPHOUR  RESTTIME
# A         8          6        10
print("\n")

# Ä°KÄ° KOÅžUL BÄ°RDEN ( & = 've' )
# Ã‡alÄ±ÅŸma saati 5'ten fazla VE Uyku saati 8'den az olanlar
print("--- WORKHOUR > 5 VE SLEEPHOUR < 8 Olanlar ---")
print(df[(df['WORKHOUR'] > 5) & (df['SLEEPHOUR'] < 8)])
# Ã‡Ä±ktÄ±:
#    WORKHOUR  SLEEPHOUR  RESTTIME
# A         8          6        10
# D        12          7         5

--- Ã‡alÄ±ÅŸma Saati > 8 Olanlar ---
   WORKHOUR  SLEEPHOUR  RESTTIME
B        10          8         6
D        12          7         5


--- Uyku Saati < 7 Olanlar ---
   WORKHOUR  SLEEPHOUR  RESTTIME
A         8          6        10


--- WORKHOUR > 5 VE SLEEPHOUR < 8 Olanlar ---
   WORKHOUR  SLEEPHOUR  RESTTIME
A         8          6        10
D        12          7         5

## 3. Yeni SÃ¼tun Ekleme âž•

In [54]:
# 'TOTALTIME' adÄ±nda yeni bir sÃ¼tun ekleyelim
# Bu sÃ¼tun, diÄŸer 3 sÃ¼tunun toplamÄ± olsun
df['TOTALTIME'] = df['WORKHOUR'] + df['SLEEPHOUR'] + df['RESTTIME']

print("--- YENÄ° SÃœTUN EKLENMÄ°Åž HALÄ° ---")
print(df)
# Ã‡Ä±ktÄ±:
#    WORKHOUR  SLEEPHOUR  RESTTIME  TOTALTIME
# A         8          6        10         24
# B        10          8         6         24
# C         5          9        10         24
# D        12          7         5         24

--- YENÄ° SÃœTUN EKLENMÄ°Åž HALÄ° ---
   WORKHOUR  SLEEPHOUR  RESTTIME  TOTALTIME
A         8          6        10         24
B        10          8         6         24
C         5          9        10         24
D        12          7         5         24

In [51]:
# DataFrame'in ilk 2 satÄ±rÄ±nÄ± gÃ¶ster
print(f"Ä°lk 2 SatÄ±r:\n {df.head(2)}\n")

# DataFrame hakkÄ±nda teknik bilgi (veri tipleri, null deÄŸerler)
print("--- DataFrame Bilgisi (.info()) ---")
df.info()
print("\n")

# SayÄ±sal sÃ¼tunlarÄ±n istatistiksel Ã¶zeti (ortalama, min, max...)
print("--- Ä°statistiksel Ã–zet (.describe()) ---")
print(df.describe())

Ä°lk 2 SatÄ±r:
    WORKHOUR  SLEEPHOUR  RESTTIME  TOTALTIME
A         8          6        10         24
B        10          8         6         24

--- DataFrame Bilgisi (.info()) ---
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   WORKHOUR   4 non-null      int64
 1   SLEEPHOUR  4 non-null      int64
 2   RESTTIME   4 non-null      int64
 3   TOTALTIME  4 non-null      int64
dtypes: int64(4)
memory usage: 332.0+ bytes


--- Ä°statistiksel Ã–zet (.describe()) ---
        WORKHOUR  SLEEPHOUR   RESTTIME  TOTALTIME
count   4.000000   4.000000   4.000000        4.0
mean    8.750000   7.500000   7.750000       24.0
std     2.986079   1.290994   2.629956        0.0
min     5.000000   6.000000   5.000000       24.0
25%     7.250000   6.750000   5.750000       24.0
50%     9.000000   7.500000   8.000000       24.0
75%    10.500000   8.250000  10.000000       24.0
max    12.000000   9.000000  10.000000       24.0